

<div class="con_top">
    <!--banner图-->
    <div class="banner-box">
        <div class="bd">
            <ul>
                <li><a href="javascript:void(0);"><img src="images/banner.jpg" /></a></li>
                <li><a href="javascript:void(0);"><img src="images/banner1.jpg" /></a></li>
                <li><a href="javascript:void(0);"><img src="images/banner.jpg" /></a></li>
                <li><a href="javascript:void(0);"><img src="images/banner1.jpg" /></a></li>
            </ul>
        </div>
        <div class="banner-btn">
            <a class="prev" href="javascript:void(0);"></a>
            <a class="next" href="javascript:void(0);"></a>
        </div>
    </div>
</div>
<script src="../vendor/jquery/jquery-sidebar/banner.js"></script>

<!--限时抢购-->
<div class="con_center" ng-controller="phoneCtrl"  >
    <h2>限时抢购</h2>
    <ul class="con_center_phone" >
        <li ng-repeat="apple in goods">
            <a href="javascript:">
                <img ng-src='{{apple.gImg}}'>
                <span class="p_name">{{apple.gName}}</span>
                <span class="p_price">¥{{apple.gPrice}}</span>
            </a>
        </li>
    </ul>
</div>

<!--品牌特卖-->
<div class="con_bottom" ng-controller="jumpCtrl">
    <h2>品牌特卖</h2>
    <div class="con_bottom_odiv">
        <ul>
            <li class="bottom_odiv_oli" logo ds="米" style="background: #ffffff;"><img src="images/小米2.png"/></li>
            <li logo ds="三星"><img src="images/三星.png"/></li>
            <li logo ds="OPPO"><img src="images/oppo.jpg" type="OPPO"/></li>
            <li logo ds="LG"><img src="images/143977625987734135.png"/></li>
            <li logo ds="魅族"><img src="images/143467596292585651.png"/></li>
            <li logo ds="VIVO"><img src="images/143411703870140805.png"/></li>
            <li logo ds="华为"><img src="images/142979023260528161.png" /></li>
            <li logo ds="华为"><img src="images/142979023260528161.png" /></li>
            <li logo ds="华为"><img src="images/142979023260528161.png" /></li>
            <li logo ds="华为"><img src="images/142979023260528161.png" /></li>
        </ul>
    </div>
    <div class="con_bottom_adiv" >
        <ul class="adiv_oul">
            <li class="oul_oli"><img src="images/1.png"/></li>
            <li class="oul_ali" ng-click="jump()">
                <img ng-src="{{arr[0].gImg}}"/>
                <div><a href="#/app/goodsDes/{{arr[0]['_id']}}">{{arr[0].gName}}</a></div>
                <h3>¥{{arr[0].gPrice}}</h3>
            </li>
            <li class="oul_ali">
                <img ng-src="{{arr[1].gImg}}" />
                <div><a href="#/app/goodsDes/{{arr[1]['_id']}}">{{arr[1].gName}}</a></div>
                <h3>¥{{arr[1].gPrice}}</h3>
            </li>
        </ul>
        <ul class="adiv_oul">
            <li class="oul_ali">
                <img ng-src="{{arr[2].gImg}}" />
                <div><a href="#/app/goodsDes/{{arr[2]['_id']}}">{{arr[2].gName}}</a></div>
                <h3>¥{{arr[2].gPrice}}</h3>
            </li>
            <li class="oul_ali">
                <img ng-src="{{arr[3].gImg}}" />
                <div><a href="#/app/goodsDes/{{arr[3]['_id']}}">{{arr[3].gName}}</a></div>
                <h3>¥{{arr[3].gPrice}}</h3>
            </li>
            <li class="oul_bli">
                <img ng-src="{{arr[4].gImg}}" />
                <div><a href="#/app/goodsDes/{{arr[3]['_id']}}">{{arr[4].gName}}</a></div>
                <h3>¥{{arr[4].gPrice}}</h3>
            </li>
            <li class="oul_bli">
                <img ng-src="{{arr[5].gImg}}"/>
                <div><a href="#/app/goodsDes/{{arr[5]['_id']}}">{{arr[5].gName}}</a></div>
                <h3>¥{{arr[5].gPrice}}</h3>
            </li>
        </ul>
    </div>
</div>
<!--content endding-->
