<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
    <link type="text/css" href="../css/denglu.css" rel="stylesheet">
    <script src="../vendor/angualr/angular.min.js"></script>
    <script src="../vendor/angualr/lodash.min.js"></script>
    <script src="../vendor/angualr/restangular.min.js"></script>
</head>
<body  ng-controller="denglCtrl">
<div class="dlbox">
    <div class="dllogo"><img src="../images/logo.png"/></div>
    <div class="dlcennrerbox">
        <div class="dlcennrerbox_top"><img src="../images/66.png"/></div>
        <div>
            <form name="nForm">
              <input id="in1" class="dltext dltext_a" type="text" name="nText" value="32" placeholder="用户名/邮箱/手机号" ng-model="regText.name" required ng-pattern="/^[A-Za-z0-9_@.\u4e00-\u9fa5]{4,20}$/" ng-blur="change('regText',nForm.nText.$error)"/>

              <span class="halo" ng-repeat=" re in regText.regList | filter : regText.regVal ">{{re.tips}}</span>

              <input id="in2" class="dltext dltext_b" type="password" name="nPassword" placeholder="密码" ng-minlength="6" ng-model="regPassword.name" required ng-minlength="6" ng-blur="change('regPassword',nForm.nPassword.$error)" />

              <span class="halo" ng-repeat=" re in regPassword.regList | filter : regPassword.regVal ">{{ re.tips }}</span>

              <div class="dlcheckbox"  ><input  type="checkbox" /><span>自动登录</span></div>

              <input class="dlbutton" type="submit" value="登录" ng-click="yy()"/>

             </form>
            <p>
                <a href="javascript:;">忘记密码</a>|<a href="#">免费注册</a>
            </p>
        </div>
        <div class="dltup"></div>
        <ul class="dlcennteul">
            <li><a href="#"><img src="../images/33.png" /></a> </li>
            <li><a href="#"><img src="../images/44.png" /></a> </li>
            <li><a href="#"><img src="../images/55.png" /></a> </li>
        </ul>
    </div>
</div>
<div class="dlbuttonco">Copyright© 2002-2015 ，玖玖电子商务有限公司版权所有 苏ICP备10207551号</div>


</body>
<script src="js/angular.js"></script>
<script src='js/lodash.min.js'></script>
<script src='js/restangular.min.js'></script>
    <script>

    var app = angular.module('app',['restangular']);

    app.factory('LoginService',['Restangular',function(Restangular){// 现在我们已经在LoginService中访问了Restangular
        var loginAngular = Restangular.withConfig(function (Configurer) {
            //服务个性化配置
        });
        var loginService=loginAngular.all('/login');
        return {
            userLogin: function (username,password) {
                return loginService.customPOST({
                    query: {
                        username: username,
                        password: password
                    }
                })
            },
        }
    }]);
    //控制器部分
    app.controller('denglCtrl',['$scope','LoginService',function ($scope,LoginService) {
        $scope.regText = {
            regVal : 'default',
            regList : [
                { name : 'default' , tips : ''},
                { name : 'required' , tips : '用户名不能为空'},
                { name : 'pattern' , tips : '用户名必须是有效字符'},
                { name : 'pass' , tips : ''}
            ]
        };
        $scope.regPassword = {
            regVal : 'default',
            regList : [
                { name : 'default' , tips : ''},
                { name : 'required' , tips : '密码不能为空'},
                { name : 'minlength' , tips : '密码至少6位'},
                { name : 'pass' , tips : ''}
            ]
        };
        $scope.login=function(){
            LoginService.userLogin('asd','sads').then(function (res) {
                res={
                    message:'登录成功'
                }
                console.log(res.message);
            }, function (err) {

            })
        }

        $scope.change = function( reg , err ){
            for(var attr in err){
                if( err[attr] == true ){
                    $scope[reg].regVal = attr;
                    return;
                }
            }
            $scope[reg].regVal = 'pass';
        };
        
        /*$scope.yy = function () {
            if(document.getElementById('in1').value == 'yanyan123' &&document.getElementById('in2').value == '123yanyan'){
                window.open('http://www.baidu.com','_self');
            }
            else{
            alert('账号或密码不正确')
            }
        }*/
    }]);

</script>
</html>