
<link type="text/css" href="../css/loginin.css" rel="stylesheet">

<div class="dlbox" ng-controller="denglCtrl">
    <div class="dllogo"><img src="../images/logo1.png"/></div>
    <div class="dlcennrerbox">
        <div class="dlcennrerbox_top"><img src="../images/66.png"/></div>
        <div>
            <form name="nForm">
              <input id="in1" class="dltext dltext_a" type="text" name="nText" value="32" placeholder="用户名/邮箱/手机号" ng-model="regText.name" required ng-pattern="/^[A-Za-z0-9_@.\u4e00-\u9fa5]{4,20}$/" ng-blur="change('regText',nForm.nText.$error)"/>

              <div class="halo" ng-repeat=" re in regText.regList | filter : regText.regVal ">{{re.tips}}</div>

              <input id="in2" class="dltext dltext_b" type="password" name="nPassword" placeholder="密码" ng-minlength="6" ng-model="regPassword.name" required ng-minlength="6" ng-blur="change('regPassword',nForm.nPassword.$error)" />

              <div class="halo" ng-repeat=" re in regPassword.regList | filter : regPassword.regVal ">{{ re.tips }}</div>

              <div class="dlcheckbox"  ><input  type="checkbox" /><span>自动登录</span></div>

              <input class="dlbutton" type="submit" value="登录" ng-click="login()"/>

             </form>
            <p class="dlztyse">
                <a href="javascript:;">忘记密码</a>|<a href="javascript:;">免费注册</a>
            </p>
        </div>
        <div class="dltup"></div>
        <ul class="dlcennteul">
            <li><a href="#"><img src="../images/33.png" /></a> </li>
            <li><a href="#"><img src="../images/44.png" /></a> </li>
            <li><a href="#"><img src="../images/55.png" /></a> </li>
        </ul>
    </div>
</div>
<div class="dlbuttonco">Copyright© 2002-2015 ，玖玖电子商务有限公司版权所有 苏ICP备10207551号</div>
