<!--
<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="../css/index.css" rel="stylesheet">

    &lt;!&ndash;jquery&ndash;&gt;
    <script src="../vendor/jquery/jquery-1.8.3.min.js"></script>
    <script src="../vendor/jquery/jquery.SuperSlide.2.1.1.js"></script>

    &lt;!&ndash;angualr&ndash;&gt;
    <script src="../vendor/angualr/angular.js"></script>
    <script src="../vendor/angualr/lodash.min.js"></script>
    <script src="../vendor/angualr/restangular.min.js"></script>
    <script src="../js/services/api-proxy.js"></script>
    <script src="../js/app.js"></script>
    &lt;!&ndash;services&ndash;&gt;
    &lt;!&ndash;controllers&ndash;&gt;

    <script src="../js/controllers/pinpaitemaicontroller.js"></script>

    <script src="../js/controllers/productcontroller.js"></script>
    &lt;!&ndash;directives&ndash;&gt;
    <script src="../js/directives/ui-logo.js"></script>

    <script src="../js/controllers/timelimitcontroller.js"></script>

    &lt;!&ndash;route&ndash;&gt;
    <script src="../vendor/angualr/angular-route.min.js"></script>
    &lt;!&ndash;<script src="vendor/angualr/angular-ui-router.js"></script>&ndash;&gt;

    &lt;!&ndash;APP&ndash;&gt;
    <script src="../js/config-route.js"></script>

</head>
<body>
-->

<!--<header>-->
    <!--<div class="top">-->
        <!--<div class="top_content">-->
            <!--<span class="word_l">您好，欢迎来到玖玖电子商城!</span>-->
            <!--<a href="login.html" class="a_1">登录</a>-->
            <!--<a href="../views/regist.html" class="a_2">注册</a>-->
            <!--<div class="order" id="order" >-->
                <!--<img src="../images/text.png" class="i_1"/>-->
                <!--<a href="#" style="color:white;text-align: center;" id="a">我的订单</a>-->
                <!--<img src="../images/sj.png" id="img_2"/>-->
                <!--<ul id="u">-->
                    <!--<li><a style="color: white">待支付</a></li>-->
                    <!--<li><a style="color: white">已收货</a></li>-->
                    <!--<li><a style="color: white">待评价</a></li>-->
                    <!--<li><a style="color: white">修改订单</a></li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div class="car"><img src="../images/che.png" class="i_1"/>购物车-->
                <!--<img src="../images/sj.png"/></div>-->
            <!--<a href="" class="a_3">帮助中心</a>-->
            <!--<span class="word_r">服务热线:400-999-888</span>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="logo">-->
        <!--<div class="logo_content" ng-controller="Aaa" >-->
            <!--<img src="../images/logo.png" style="margin-top: 35px;float:left"/>-->
            <!--<input list="phone" type="text" class="text" ng-model="name" />-->
            <!--<input type="button"value="搜索" class="btn" />-->
            <!--<span class="tip">热门搜索：华为荣耀、小米4、红米note、oppo全网通</span>-->
            <!--<datalist id="phone">-->
                <!--<option value="oppo">oppo</option>-->
                <!--<option value="iphone">iphone</option>-->
                <!--<option value="iphone4">iphone4</option>-->
                <!--<option value="小米">小米</option>-->
            <!--</datalist>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="nav">-->
        <!--<div class="nav_content">-->
            <!--<ul>-->
                <!--<li class="first"><a><img src="../images/diandian.png">商品分类</a></li>-->
                <!--<li style="color:  #ff9933;"><a>首页</a></li>-->
                <!--<li><a>积分商城</a></li>-->
                <!--<li><a>活动资讯</a></li>-->
            <!--</ul>-->

        <!--</div>-->
    <!--</div>-->
    <!--<script src="../vendor/jquery/jquery-list/list-2.js"></script>-->
<!--</header>-->
<!--&lt;!&ndash;head endding&ndash;&gt;-->

<!--&lt;!&ndash;sidebar&ndash;&gt;-->
<!--<div class="w990">-->
    <!--<ul class="sidebar" ng-controller="kindCtrl">-->
        <!--<li ng-repeat="kind in phone">-->
            <!--<a href="javascript:">{{kind.gName}}</a>-->
            <!--<dl>-->
                <!--<dd><a href="javascript:">{{kind.gName1}}系列</a></dd>-->
            <!--</dl>-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->
<!--<script src="../vendor/jquery/jquery-sidebar/sidebar.js"></script>-->
<!--<script src="../vendor/jquery/jquery-sidebar/sidebar2.js"></script>-->

<!--main-->
<link href="../css/ProductDetails.css" type="text/css" rel="stylesheet">
<div class="w990" >
        <h4>限时抢购>Apple iPhone 6（16G）（银）</h4>
        <div class="details">
            <div class="left">
                <div class="left_top">
                    <img src="../images/product_03.jpg">
                </div>
                <div class="left_botton">
                    <div class="banner-box">
                        <div class="bd">
                            <ul>
                                <li><img src="../images/shouji_07.jpg" /><img src="../images/shouji_07.jpg" /><img src="../images/shouji_07.jpg" /><img src="../images/shouji_07.jpg" /></li>
                                <li><img src="../images/shouji_07.jpg" /></li>
                            </ul>
                        </div>
                        <div class="banner-btn">
                            <a class="prev" href="javascript:void(0);"></a>
                            <a class="next" href="javascript:void(0);"></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="right" ng-controller="des">
               <div class="right_top">
                 <h3>{{data.gName}}</h3>
                 <h4>5.5英寸大屏幕，3G运行内存，2070万+500万像素摄像头，3150mAh电池！</h4>
                 <div class="orange">
                         参考价：<span class="one">¥2955.00</span><br>
                         促销价：<span class="two">{{data.gPrice}}</span><br>
                         <span class="three"></span>4.9分 共有502条评论
                 </div>
                 送至 <span class="addres">湖北省 武汉市 洪山区</span><br>
                 服务 由"玖玖电子商城"销售和发货，并享受售后服务<a href="javascript:">和我联系</a><br>
                 颜色 <img title="金色" alt="金色" src="../images/shou_07.jpg" ng-click="getcolor('金色')">
                      <img  title="银色" alt="银色" src="../images/shou_07.jpg" ng-click="getcolor('银色')" ><br>
                 选择规格<span class="standard " ng-click="getsta('金色4G版')" >金色4G版</span>
                         <span class="standard " ng-click="getsta('移动联通双4G版')" >移动联通双4G版</span>
               </div>
               <div class="right_bottom">
                   <p>您已选择:  {{colors}}  {{stas}}</p>
                 <button ><a class="buy" href="#"> 立即购买</a></button>
                 <button ><a  class="car" href="#/addToCart/{{data['_id']}}">加入购物车</a></button>
               </div>
            </div>

        </div>
</div>
<!--弹出层-->
<div class="up">
    <h4>温馨提示<img src="../images/xx_03.jpg"></h4>
    <p>添加成功</p>
    <button class="goon"><a href="../index.html"> 继续购物</a></button>
    <button class="gobuy"><a href="javascript:">去购物车结算</a> </button>
</div>

