

<!--main-->
<link href="../css/ProductDetails.css" type="text/css" rel="stylesheet">

<div class="w990">
        <h4>限时抢购>Apple iPhone 6（16G）（银）</h4>
        <div class="details">
            <div class="left">
                <div class="left_top">
                    <img src="../images/product_03.jpg">
                </div>
                <div class="left_botton">
                    <div class="banner-box">
                        <div class="bd">
                            <ul>
                                <li><img src="../images/shouji_07.jpg" /><img src="../images/shouji_07.jpg" /><img src="../images/shouji_07.jpg" /><img src="../images/shouji_07.jpg" /></li>
                                <li><img src="../images/shouji_07.jpg" /></li>
                            </ul>
                        </div>
                        <div class="banner-btn">
                            <a class="prev" href="javascript:void(0);"></a>
                            <a class="next" href="javascript:void(0);"></a>
                        </div>
                    </div>
                </div>
                <script src="../vendor/jquery/jquery-sidebar/dateils-banner.js"></script>
            </div>

            <div class="right"  ng-controller="des">
               <div class="right_top">
                 <h3>{{data.gName}}</h3>
                 <h4>{{data.gDescription}}</h4>
                 <div class="orange">
                         参考价：<span class="one">¥2955.00</span><br>
                         促销价：<span class="two">{{data.gPrice}}</span><br>
                         <span class="three"></span>4.9分 共有502条评论
                 </div>
                 送至 <span class="addres">湖北省 武汉市 洪山区</span><br>
                 服务 由"玖玖电子商城"销售和发货，并享受售后服务<a href="javascript:">和我联系</a><br>
                 颜色 <img title="金色" alt="金色" src="../images/shou_07.jpg" ng-click="getcolor('金色')">
                      <img  title="银色" alt="银色" src="../images/shou_07.jpg" ng-click="getcolor('银色')" ><br>
                 选择规格<span class="standard " ng-click="getsta('金色4G版')" >金色4G版</span>
                         <span class="standard " ng-click="getsta('移动联通双4G版')" >移动联通双4G版</span>
               </div>
               <div class="right_bottom">
                   <p>您已选择:  {{colors}}  {{stas}}</p>
                 <button ><a class="buy" href="#"> 立即购买</a></button>
                 <button ><a  class="car" add ac="{{data['_id']}}" >加入购物车</a></button>
               </div>
            </div>

        </div>
</div>
<!--弹出层-->
<div class="up">
    <h4>温馨提示<img src="../images/xx_03.jpg"></h4>
    <p>添加成功</p>
    <button class="goon"><a href="../index.html"> 继续购物</a></button>
    <button class="gobuy"><a href="javascript:" ui-sref="app.shoppingcart">去购物车结算</a> </button>
</div>

