<link href="../css/search.css" rel="stylesheet">
<div style="width:100%;height:40px;background-color:#f2f2f2"></div>
<div class="con_center1">
    <ul>
        <li ng-repeat="mobile in productArr">
            <a href="javascript:">
                <img ng-src='{{mobile.gImg}}' class="ximg">
                <div class="x_describe">
                    {{mobile.gName}}&nbsp;
                    <span style="color:#ff0000;font-family:'Microsoft YaHei';font-weight: bold">4.2GB</span>内存版 &nbsp;白色&nbsp;
                    <span style="color:#ff0000;font-family:'Microsoft YaHei';font-weight: bold">移动4G</span>手机正品行货，全国联保！
                </div>
                <span class="x_price">¥{{mobile.gPrice}}</span>

                <div><span class="x_describe1">武汉有货</span>
                    <a href="javascript:" class="x_discuss">一条评论</a>
                </div>
            </a>
        </li>
    </ul>
</div>

