<!--服务-->
<div class="ser">
    <ul class="ser_oul">
        <li class="beitua">
            <h4>正品保障</h4>
            <span>正品保障，提供发票</span>
        </li >
        <li class="beitub">
            <h4>急速物流</h4>
            <span>急速物流，急速送达</span>
        </li>
        <li class="beituc">
            <h4>无忧售后</h4>
            <span>7天无理由退货</span>
        </li>
        <li class="beitud">
            <h4>特色服务</h4>
            <span>私人订制家电套餐</span>
        </li>
        <li class="beitue">
            <h4>帮助中心</h4>
            <span>您的购物指南</span>
        </li>
    </ul>
    <ul class="ser_aul">
        <li class="ser_aul_li">
            <ul>
                <li><h5>购物指南</h5></li>
                <li><a href="#">导购演示</a></li>
                <li><a href="#">免费注册</a></li>
                <li><a href="#">会员等级</a></li>
                <li><a href="#">常见问题</a></li>
                <li><a href="#">品牌大全</a></li>
            </ul>
        </li>
        <li class="ser_aul_li">
            <ul>
                <li><h5>支付方式</h5></li>
                <li><a href="#">网银支付</a></li>
                <li><a href="#">快捷支付</a></li>
                <li><a href="#">分期付款</a></li>
                <li><a href="#">货到付款</a></li>
                <li><a href="#">任性付支付</a></li>
            </ul>
        </li>
        <li class="ser_aul_li">
            <ul>
                <li><h5>物流配送</h5></li>
                <li><a href="#">免运费政策</a></li>
                <li><a href="#">配送服务承诺</a></li>
                <li><a href="#">签收验货</a></li>
                <li><a href="#">物流查询</a></li>
            </ul>
        </li>
        <li class="ser_aul_li">
            <ul>
                <li><h5>售后服务</h5></li>
                <li><a href="#">退换货政策</a></li>
                <li><a href="#">退换货流程</a></li>
                <li><a href="#">购买延保服务</a></li>
                <li><a href="#">退款说明</a></li>
                <li><a href="#">退换货申请</a></li>
                <li><a href="#">维修/保养</a></li>
            </ul>
        </li>
        <li class="ser_aul_li">
            <ul>
                <li><h5>商家服务</h5></li>
                <li><a href="#">商家入驻</a></li>
                <li><a href="#">培训中心</a></li>
                <li><a href="#">信息公告</a></li>
                <li><a href="#">广告服务</a></li>
                <li><a href="#">商家帮助</a></li>
                <li><a href="#">服务市场</a></li>
            </ul>
        </li>
        <li class="ser_aul_li">
            <img src="images/erweima.jpg" />
        </li>
    </ul>
</div>