<link type="text/css" rel="stylesheet" href="../css/shoppingcart.css">
<div ng-controller="gwaa">

    <div class="gwcentt">
        <div class="gwcentt_text">
            <!--<img src="../images/logo1.png" />-->
            <ul class="gwcentt_ul">
                <li class="gwcentt_ul_lia">
                    <p>
                        <span>1</span>
                    </p>
                    <div>我的购物车</div>
                </li >
                <li class="gwcentt_ul_lib">
                    <p>
                        <span>2</span>
                    </p>
                    <div>确认订单</div>
                </li>
                <li class="gwcentt_ul_lib">
                    <p>
                        <span>3</span>
                    </p>
                    <div>付款</div>
                </li>
                <li class="gwcentt_ul_lib">
                    <p>
                        <span>4</span>
                    </p>
                    <div>支付成功</div>
                </li>
            </ul>
        </div>
    </div>
    <div >
        <div class="gwbottom">
            <ul class="gwbottom_top">
                <li class="gwbottom_top_lia">
                    <!--<input id="opur" class="gwcheckbox" type="checkbox"-->
                           <!--ng-model="ss"-->
                           <!--ng-true-value="1"-->
                           <!--ng-false-value="0"-->
                           <!--ng-click="oput()" />-->
                    <!--<span>全选</span>-->
                </li>
                <li class="gwbottom_top_lib">
                    <span>商品信息</span>
                </li>
                <li class="gwbottom_top_lib">
                    <span>单价</span>
                </li>
                <li class="gwbottom_top_lib">
                    <span>送货至</span>
                    <input class="gwinputtext" type="text" value='武汉'/>
                </li>
                <li class="gwbottom_top_lib">
                    <span>数量</span>
                </li>
                <li class="gwbottom_top_lib">
                    <span>单价</span>
                </li>
                <li class="gwbottom_top_lib">
                    <span>小计</span>
                </li>
            </ul>
        </div>
        <div class="gwtext">
            <div class="gwtext_diva">
                <span><a href="javascript;">联系我们</a></span>
            </div>
            <ul class="gwtext_divb" ng-repeat="product in cartArr">
                <li class="gwdivb">
                    <ul>
                        <li>
                            <!--<input id="haoi" type="checkbox" ng-model="hh"-->
                                    <!--ng-true-value="1"-->
                                    <!--ng-false-value="0"-->
                                    <!--ng-change="change()"/>-->
                            <img src="../images/2.png"/>
                        </li>
                        <li><a>{{product.gName}}</a></li>
                        <li>￥{{product.gPrice}}</li>
                        <li>武汉</li>
                        <li>
                            <span  ng-click="minus($index)">-</span>
                            <span>{{product.gQuantity}}</span>
                            <span add ac="{{product.gid}}" ng-click="add($index)">+</span>
                        </li>
                        <li>￥{{product.gPrice}}</li>
                        <li >￥{{ zprice($index)}}</li>
                    </ul>

                </li>
            </ul>
        </div>
    </div>
    <div class="gwjs">
        <div class="gwjs_a">
            <ul class="gwjs_ula">
                <!--<li class="gwjs_ula_a">已选择<span>{{zz}}</span>件商品</li>-->
                <li>商品金额：<span class="gwjs_ula_spana">{{count | currency:'￥'}}</span></li>
                <li>运费:<span class="gwjs_ula_spana">{{ }}</span></li>
            </ul>
            <ul class="gwjs_ulb">
                <li class="gwjs_ulb_b">应付金额：<span class="gwjs_ula_spana">{{count | currency:'￥'}}</span></li>
                <li><input type="button" value="去结算" /></li>
            </ul>
        </div>
    </div>
</div>